<%include ../partials/header.ejs%>

<div class="container">
    <h1>Level 2</h1>
    <img src=""
    <div id="myChart" style="width:100%; height:400px;"></div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/javascript/graphs.js"></script>

<%include ../partials/footer.ejs%>