<%include ../partials/header.ejs%>
<div class="container shift-down">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-5">
                <img id="main-img" src="/images/nicebooksc.png">
            </div>
            <div class="col-lg-7 align-self-center">
                <h1 id="heading" class="display-4">Quietsy</h1>
                <p id="subheading" class="lead justify-content-end">Shhhhhhhhh! Quiet in the library!</p>
            </div>
        </div>
        <hr class="my-4">
        <p id="sub-text">Let Quietsy help you find a nice and quiet spot to get on with your studying!</p>
        <a class="btn btn-lg btn-honeywell-green honeywell-white nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Select Library Floor
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/home/level2">Level 2</a>
            <a class="dropdown-item" href="/home/level3">Level 3</a>
            <a class="dropdown-item" href="/home/level4">Level 4</a>
            <a class="dropdown-item" href="/home/level5">Level 5</a>
            <a class="dropdown-item" href="/home/level6">Level 6</a>
            <a class="dropdown-item" href="/home/level7">Level 7</a>
            <a class="dropdown-item" href="/home/level8">Level 8</a>
        </div>
    </div>
</div>
<%include ../partials/footer.ejs%>